<footer class="w-full h-auto font-family-secondary text-white p-8 bg-purple-950">
  <p class="font-bold text-lg">@kefren_art</p>
  <nav class="flex flex-col gap-4 mt-12">
    <a href="#sobre-mi" class="hover:text-celestial">Sobre mi</a>
    <a href="#artes" class="hover:text-celestiala">Artes</a>
    <a href="#servicios" class="hover:text-celestial">Servicios</a>
  </nav>
  <div class="text-center mt-12 border-t border-gray-700 pt-4">
    <a href="https://portfolio-emcahell.vercel.app">Sitio web desarrollado por <b>Emcahell</b></a>
  </div>
</footer>